/* Force soft-wrapping for all text outputs and preformatted blocks */
pre,
code,
[data-mime-type="text/plain"],
[data-mime-type="text/plain"] pre {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  overflow-wrap: anywhere !important;
  overflow-x: hidden !important;
}